@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #041923;
  --main-color-two: #F6B011;
}
body{
  background-color: var(--main-color);
}
.bg{
  height: 100vh;
  background-image: linear-gradient(180deg, transparent 26.09%, var(--main-color) 95%), url('https://images.unsplash.com/photo-1665505632560-0a5ed5de6eaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; 
}
.bottom_img {
  background-image: url('../../public/images/bottom.png');
}
.spacing{
  letter-spacing: .2em;
}
.spacing_two {
  letter-spacing: .1rem
}
.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 17px !important;
}

@media (min-width: 1200px) {
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 25px !important;
  }
  .swiper-button-prev {
    left: 25px !important;
  }
  .swiper-button-next {
    right: 25px !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide:nth-child(1n) {
  width: 100%;
}

@media (min-width: 650px) {
  .bg{
  background-image: linear-gradient(180deg, transparent 26.09%, var(--main-color) 95%), url('https://images.unsplash.com/photo-1501446529957-6226bd447c46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
    background-size: cover;
    background-position: center;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px !important;
  }

  .swiper-slide:nth-child(1n) {
    width: 60%;
  }
}
input {
  outline: none !important;
}
.react-international-phone-input {
  background-color: transparent !important;
  width: 100%;
  color: white !important;
  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
  font-size: 14px !important;
  padding: 6px 8px !important;
}

.react-international-phone-country-selector-button {
  background-color: transparent !important;
  padding: 6px 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

@media (min-width: 768px) {
  .react-international-phone-input {
    font-size: 16px !important;
  }
}

