@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #041923;
    --main-color-two: #F6B011;
}

body {
    background-color: var(--main-color);
}

.bg-start {
    height: 100vh;
    background-image: linear-gradient(180deg, transparent 26.09%, var(--main-color) 95%), url('https://images.unsplash.com/photo-1696758011667-346ef53c70d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.title-backgroud-text {
    @apply font-extrabold text-5xl text-[var(--main-color-two)] opacity-40 sm:text-6xl md:text-7xl uppercase
}

.title-text {
    @apply w-full font-semibold text-white text-center absolute top-5 sm:text-xl sm:top-7 md:text-2xl md:top-8
}

.bottom_img {
    background-image: url('../../public/images/bottom.webp');
}

.spacing {
    letter-spacing: .2em;
}

.spacing_two {
    letter-spacing: .1rem
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 17px !important;
    color: white !important;
}

@media (min-width: 1200px) {
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 25px !important;
    }

    .swiper-button-prev {
        left: 25px !important;
    }

    .swiper-button-next {
        right: 25px !important;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide:nth-child(1n) {
    width: 100%;
}

@media (min-width: 650px) {
    .bg-start {
        background-image: linear-gradient(180deg, transparent 26.09%, var(--main-color) 95%), url('https://images.unsplash.com/photo-1696280292021-76c29fb11f99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80');
        background-size: cover;
        background-position: center;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 20px !important;
    }

    .swiper-slide:nth-child(1n) {
        width: 70%;
    }
}

input {
    outline: none !important;
}

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
    transform-origin: 80px 80px;
}

.pl__ring-rotate {
    animation-name: ringRotate42;
}

.pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
}

.pl__tick {
    animation-name: tick42;
}

.pl__tick:nth-child(2) {
    animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
    animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
    animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
    animation-delay: -1s;
}

.pl__tick:nth-child(6) {
    animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
    animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
    animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes ringRotate42 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes ringStroke42 {
    from,
    to {
        stroke-dashoffset: 452;
        transform: rotate(-45deg);
    }

    50% {
        stroke-dashoffset: 169.5;
        transform: rotate(-180deg);
    }
}

@keyframes tick42 {
    from,
    3%,
    47%,
    to {
        stroke-dashoffset: -12;
    }

    14%,
    36% {
        stroke-dashoffset: 0;
    }
}
